services:
  app:
    build: .
    container_name: backend_app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_started
      mongo:
        condition: service_started
      redis:
        condition: service_started
      localstack:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  mongo:
    image: mongo:8.0
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: cashe_redis
    ports:
      - "6379:6379"
    restart: always

  localstack:
    image: localstack/localstack
    container_name: sqs
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs
      - DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_KEY}
    volumes:
      - ./localstack_init:/etc/localstack/init/ready.d
    healthcheck:
      test: ["CMD", "bash", "-c", "awslocal sqs get-queue-url --queue-name cache-clear-queue"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 5s
    restart: unless-stopped

volumes:
  postgres_data:
  mongo_data: